.item {
	max-width: 233px;
	padding: 15px;
	border: 2px solid rgb(179, 140, 140);
	border-radius: 7px;
	&:hover {
		border-color: rgb(137, 137, 200);
	}

	.img {
		position: relative;
		width: 200px;
		height: 100px;
		background-color: red;
		border-radius: 7px;
		margin-bottom: 20px;

		.star {
			position: absolute;
			font-size: 36px;
			right: 5px;
			top: 0;
			&:hover {
				cursor: pointer;
			}
		}
	}

	.btnWrapper {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.btn {
			padding: 5px 20px;
			border-radius: 10px;
			background-color: rgb(142, 206, 133);
			font-size: 16px;
			border: 2px solid rgb(152, 167, 152);

			&:hover {
				transform: scale(1.03);
				color: white;
			}

			&:active {
				transform: scale(0.97);
			}
		}
	}
}
