.item {
	background-color: white;
	max-width: 236px;
	padding: 15px;
	border: 3px solid #deebfb;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
	&:hover {
		border-color: rgb(137, 137, 200);
	}

	.img {
		position: relative;
		margin-bottom: 20px;
		> img {
			max-width: 200px;
			border-radius: 10px;
		}

		.star,
		.starActive {
			position: absolute;
			font-size: 36px;
			right: 5px;
			top: 7px;
			transition: all 0.3s ease-in-out;
		}
		.star:hover {
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			color: #fff;
		}
		.starActive {
			color: #fff;
			&:hover {
				cursor: pointer;
			}
		}
	}

	.btnWrapper {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.btn {
			padding: 10px 20px;
			border-radius: 7px;
			background-color: #8aecb1;
			font-size: 16px;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: #ec6084;
				color: white;
			}

			&:active {
				transform: scale(0.97);
			}
		}
	}
}
