.formContainer {
	display: flex;
	gap: 40px;
	.personalData {
		background-color: #fff;
		width: 100%;
		max-width: 500px;
		min-height: 500px;
		padding: 40px 40px 25px;
		border-radius: 15px;
		.input {
			margin: 15px 0;
			width: 100%;
			border: 1px solid rgb(208, 207, 207);
			padding: 10px;
			font-size: 16px;
			border-radius: 3px;
		}
		.errLabel {
			display: flex;
			gap: 3px;
		}
		.promoCode {
			margin-bottom: 15px;
		}
		.couponBlock {
			display: flex;
			align-items: center;
			> button {
				padding: 10px 20px;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				color: #fff;
				border-left: none;
				background-color: hsl(144, 72%, 73%);
				transition: all 0.3s ease-in-out;
				font-size: 18px;
				&:hover {
					color: #000;
				}
				&:active {
					transition: transform 0.1s ease;
					transform: translateX(-1%);
				}
			}
			> input {
				width: unset;
				flex-grow: 1;
				margin: 0;
				border-top-right-radius: unset;
				border-bottom-right-radius: unset;
				border-right: none;
			}
		}

		.redStar {
			color: red;
		}
		.phoneNumberWrapper {
			position: relative;
			span {
				position: absolute;
				top: 27px;
				left: 10px;
				color: #6c6c6c;
				text-decoration: underline;
			}
			input {
				padding-left: 35px;
			}
		}

		.error {
			color: red;
		}

		.inputError {
			border: 1px solid red;
		}
	}

	.secProducts {
		background-color: #fff;
		flex-grow: 1;
		border-radius: 15px;
		.title {
			border-bottom: 3px solid #deebfb;
			text-align: center;
			padding: 15px 0 10px;
			font-weight: 600;
			font-size: 20px;
			font-style: italic;
		}

		.loader {
			margin-top: 200px;
			text-align: center;
			font-size: 30px;
		}

		.products {
			padding: 15px 5px 15px 20px;
			max-height: 450px;
			overflow-y: scroll;
			display: grid;
			row-gap: 20px;
			align-items: baseline;
			justify-items: center;
			grid-template-columns: repeat(2, minmax(0, 1fr));

			&::-webkit-scrollbar {
				width: 15px;
			}
			&::-webkit-scrollbar-track {
				// background-color: #e4e4e4;
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #d8d1fa;
				border-radius: 10px;
			}
		}
		.emptyProducts {
			display: block;
			text-align: center;
			overflow-y: unset;
			padding: 175px 0 0 0;
			> span {
				font-size: 32px;
				font-style: italic;
				transition: all 0.4s ease-in-out;
				font-weight: 800;
				&:hover {
					transition: all 0.4s ease-in-out;
					color: #ec6084;
					cursor: default;
				}
			}
		}
	}
}

.enabled {
	&:hover {
		transform: scale(1.03);
		color: #000;
	}
	&:active {
		transform: scale(0.98);
	}
}
.disabled {
	cursor: not-allowed;
}
.total {
	padding: 0 100px;
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
	gap: 80px;
	align-items: center;
	h3 {
		font-size: 20px;
		flex-grow: 1;
		max-width: 200px;
	}
}
.btn {
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #1890ff;
	color: #fff;
}
