.main {
	display: flex;
	gap: 35px;
	padding-bottom: 25px;

	.aside {
		background-color: #fff;
		flex-grow: 1;
		max-width: 240px;
		overflow-y: auto;
		height: 550px;
		padding: 20px 0;
		border-radius: 15px;
		font-size: 20px;

		.asideTitle {
			text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
			text-align: center;
			font-weight: 600;
			margin-bottom: 25px;
		}

		.shopList {
			display: grid;
			justify-content: center;
			gap: 15px;
			grid-template-columns: repeat(1, 0.65fr);
		}
	}
	.secProducts {
		background-color: #fff;
		flex-grow: 1;
		max-width: 945px;
		border-radius: 15px;
		.selectSort {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 3px solid #deebfb;
			padding: 0 60px 10px;
			margin: 10px 0;
		}
		.input {
			background-color: #8aecb1;
			width: 20%;
			border: 2px solid rgb(208, 207, 207);
			padding: 10px;
			font-size: 16px;
			border-radius: 10px;
			&:hover {
				cursor: pointer;
			}
			.total {
				// display: inline-block;
				float: right;
			}
		}

		.productList {
			padding: 15px 60px 30px;
			overflow-y: auto;
			max-height: 470px;
			display: grid;
			align-items: baseline;
			justify-content: space-between;
			row-gap: 20px;
			grid-template-columns: repeat(3, 0fr);
		}
	}
}
