.main {
	display: flex;
	gap: 35px;
	padding-bottom: 25px;

	.aside {
		flex-grow: 1;
		max-width: 240px;
		overflow-y: auto;
		max-height: 550px;
		padding: 20px 0;
		border: 2px solid gray;
		border-radius: 7px;
		font-size: 20px;

		.asideTitle {
			text-align: center;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.shopList {
			display: grid;
			justify-content: center;
			gap: 15px;
			grid-template-columns: repeat(1, 0.65fr);
		}
	}
	.secProducts {
		flex-grow: 1;
		max-width: 945px;
		min-height: 550px;
		border: 2px solid grey;
		border-radius: 7px;
		.selectSort {
			border-bottom: 3px solid gray;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
		.input {
			margin: 10px 10px 0;
			width: 20%;
			border: 2px solid rgb(208, 207, 207);
			padding: 10px;
			font-size: 16px;
			border-radius: 10px;
			&:hover {
				cursor: pointer;
			}
		}

		.productList {
			padding: 15px 60px 30px;
			overflow-y: auto;
			max-height: 550px;
			display: grid;
			align-items: baseline;
			justify-content: space-between;
			row-gap: 20px;
			grid-template-columns: repeat(3, 0fr);
		}
	}
}
