.header {
	padding: 15px 30px 0 30px;
	margin-bottom: 15px;
	.headerList {
		display: flex;
		gap: 25px;
		align-items: center;

		.listItem {
			max-width: 115px;
			text-align: center;
			padding: 0 1px;
			font-size: 18px;
			> a {
				color: #0095ff;
			}
		}
		.activeLink {
			text-decoration: underline;
			color: #0095ff;
			font-weight: 600;
			padding: 0;
		}

		.itemBorder {
			height: 34px;
			border-right: 2px solid black;
		}

		.grow1 {
			flex-grow: 1;
		}
	}
}
