.header {
	padding: 15px 30px 0 30px;
	margin-bottom: 30px;
	.headerList {
		display: flex;
		gap: 25px;
		align-items: center;

		.listItem {
			max-width: 115px;
			text-align: center;
			font-size: 18px;
			transition: all 0.3s ease-in-out;
			border-bottom: 2px solid transparent;
			font-weight: 700;
			&:hover {
				border-bottom: 2px solid #ec6084;
			}
			> a {
				color: #000;
			}
		}
		.activeLink {
			transition: all 0.3s ease-in-out;
			&:hover {
				border-bottom: 2px solid transparent;
			}

			> a {
				cursor: default;
				color: #ec6084;
				// border-bottom: 2px solid transparent;
			}
		}

		.itemBorder {
			height: 34px;
			border-right: 2px solid black;
		}

		.grow1 {
			flex-grow: 1;
		}
	}
}
